@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.u-q-header.is-open .u-q-header-background {
  left: 0;
}
.u-q-header-button-wrapper {
  margin-left: auto;
}
.u-q-header-icon {
  display: none;
}

.u-q-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.u-q-navigation-list.is-open {
  right: 0;
}
.u-q-header-icon-menu {
  display: block;
}

.u-q-header-icon-button.is-open .u-q-header-icon-menu {
  display: none;
}

.u-q-header-icon-button.is-open .u-q-header-icon-close {
  display: block;
}

.u-q-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.u-q-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
}
.u-q-header.is-open .u-q-header-background {
  left: 0;
}
.u-q-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-q-header-icon-menu {
  display: block;
}

.u-q-header-icon-button.is-open .u-q-header-icon-menu {
  display: none;
}

.u-q-header-icon-button.is-open .u-q-header-icon-close {
  display: block;
}

.u-q-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.u-q-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 123px 32px;
  border-radius: 16px;
  gap: 28px;
  background: #6d4e2e;
}

.u-q-navigation-list.is-open {
  right: 0;
}

.u-q-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.u-q-navigation-link:hover,
.u-q-navigatioт-link:focus {
  color: #000000;
}

.u-q-header.is-open {
  background-color: transparent;
}

.u-q-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .u-q-navigation-img {
    display: flex;
  }
  .u-q-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .u-q-header {
    width: 100%;
    height: 84px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: #ffffff;
  }

  .u-q-header-background {
  }
  .u-q-header-icon-button {
    display: none;
  }
  .u-q-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .u-q-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 62px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .u-q-navigation-link {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    vertical-align: middle;
    color: #000000;
  }

  .u-q-navigation-link:hover,
  .u-q-navigation-link:focus {
    color: #6d4e2e;
  }

  .u-q-navigation-item-desk {
    display: none;
  }
}
.u-q-home {
  width: 375px;
  height: 811px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 304.png");
  margin: auto;
}
.u-q-home-container {
  width: 375px;
  padding: 166px 20px 0px;
  margin: auto;
}

.u-q-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.u-q-home-title {
  font-family: Roboto;
  font-weight: 900;
  font-style: Black;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.u-q-home-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.u-q-home-img {
  width: 208px;
}
.u-q-home-link {
  transition: all 0.3s ease-in-out;
}

.u-q-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1200px) {
  .u-q-home {
    width: 1440px;
    height: 910px;
    background-image: url("/img/home/Frame\ 305.png");
  }
  .u-q-home-container {
    width: 1440px;
    padding: 334px 177px 0px;
  }
  .u-q-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 567px;
    gap: 24px;
  }

  .u-q-home-title {
    font-family: Roboto;
    font-weight: 900;
    font-style: Black;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    vertical-align: middle;
    text-align: left;
  }

  .u-q-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    vertical-align: middle;
    text-align: left;
  }
  .u-q-home-img {
    width: 270px;
    content: url("/img/home/Store\ download\ button\ \(1\).png");
  }
}
.u-q-about {
  margin: auto;
  margin-top: -10px;
}
.u-q-about-container {
  width: 375px;
  height: 334px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 306\ \(1\).png");
  padding: 69px 20px 0px;
  margin: auto;
}
.u-q-about-title {
  font-family: Roboto;
  font-weight: 900;
  font-style: Black;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.u-q-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

@media screen and (min-width: 1200px) {
  .u-q-about {
    width: 1440px;
    margin: auto;
    padding: 75px 360px 0 270px;
  }
  .u-q-about-container {
    width: 825px;
    height: 443px;
    padding: 54px 103px 0 192px;
    background-image: url("/img/Group\ 2.png");
  }
  .u-q-about-title {
    font-family: Roboto;
    font-weight: 900;
    font-style: Black;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .u-q-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }
}

.u-q-why-container {
  width: 375px;
  margin: auto;
  padding: 80px 0 0;
}
.u-q-why-list {
  padding-top: 50px;
}
.u-q-why-item {
  box-shadow: 0px -11px 4px 0px #6d4e2e80 inset;
  border: 1px solid #6d4e2e;
  background: #ffffff;

  width: 278px;
  height: 253px;
  border-radius: 16px;
  border-width: 1px;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-left: 15px;
  margin: 0 16px;
}
.u-q-why-img {
  width: 100px;
  height: 100px;
}
.u-q-why-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  vertical-align: middle;
  padding: 10px 0;
}
.u-q-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .u-q-why-container {
    width: 1440px;
    padding: 120px 0 0;
  }

  .u-q-why-item {
    width: 344px;
    height: 253px;
    border-radius: 16px;
    border-width: 1px;
    padding-top: 14px;
    padding-right: 15px;
    padding-bottom: 14px;
    padding-left: 15px;

    margin: 0 16px;
    box-shadow: 0px -11px 4px 0px #6d4e2e80 inset;
  }
}

.u-q-how-container {
  margin: auto;
  width: 375px;
  padding: 80px 20px 0;
}
.u-q-how-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.u-q-how-item {
  box-shadow: 0px -11px 4px 0px #6d4e2e80 inset;
  border: 1px solid #6d4e2e;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 16px;

  padding: 23px;
}

.u-q-how-number {
  font-family: Roboto;
  font-weight: 900;
  font-style: Black;
  font-size: 80px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;

  vertical-align: middle;
}

.u-q-how-text-bold {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  vertical-align: middle;
}

.u-q-how-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .u-q-how-container {
    margin: auto;
    width: 1440px;
    padding: 120px 180px 0;
  }
  .u-q-how-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .u-q-how-item {
    width: 524px;
    height: 271.5px;

    border-radius: 16px;
  }
}

.u-q-faq-container {
  padding: 80px 20px 60px;
  width: 375px;
  margin: auto;
}
.u-q-faq-text {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  padding-top: 24px;
}
.u-q-faq-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.u-q-faq-item {
  box-shadow: 0px -11px 4px 0px #6d4e2e80 inset;
  border: 1px solid #6d4e2e;
  background: #ffffff;
  border-radius: 16px;
  border-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.u-q-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-q-faq-answer {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.u-q-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.u-q-toggle-button img {
  transition: transform 0.3s ease;
  width: 36px;
}
.u-q-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.u-q-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 10px;
}

.u-q-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1200px) {
  .u-q-faq {
    width: 1440px;

    background-image: url("/img/Frame\ 307.png");
    background-repeat: no-repeat;
    min-height: 935px;
    background-position: top;
    margin: auto;
  }
  .u-q-faq-container {
    padding: 120px 395px 60px;
    width: 1440px;
    margin: auto;
  }
  .u-q-faq-text {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;

    padding-top: 24px;
  }
  .u-q-faq-list {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .u-q-faq-item {
    border-radius: 16px;
    border-width: 1px;
    padding: 24px;
    box-shadow: 0px -11px 4px 0px #6d4e2e80 inset;
  }

  .u-q-faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .u-q-faq-answer {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.u-q-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 0 0;
}
.u-q-gallery-list {
}

.u-q-gallery-item {
  width: 278px;
  height: 370px;

  overflow: hidden;
  position: relative;
  margin: 0 16px;
}
.u-q-gallery-item-two {
  margin-top: 107px;
}
.u-q-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .u-q-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 120px 0 0;
  }
  .u-q-gallery-item {
    width: 293px;
    height: 391px;

    overflow: hidden;
    position: relative;
    margin: 0 16px;
  }
  .u-q-gallery-item-two {
    margin-top: 107px;
  }
  .u-q-gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.u-q-policy-terms-container {
  padding: 110px 20px 40px;
  width: 375px;
  margin: auto;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}

.u-q-policy-terms-container h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-family: Roboto;
  font-weight: 900;
  font-style: Black;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.u-q-policy-terms-container h2 {
  margin-bottom: 16px;
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
}
.u-q-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.u-q-policy-terms-container p {
  margin-bottom: 16px;
}
.u-q-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .u-q-policy-terms-container {
    padding: 144px 180px 60px;
    width: 1440px;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .u-q-policy-terms-container h1 {
    font-family: Roboto;
    font-weight: 900;
    font-style: Black;
    font-size: 56px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .u-q-policy-terms-container h2 {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.u-q-footer-container {
  width: 375px;
  padding: 25px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.u-q-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.u-q-footer-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: inherit;
}

.u-q-footer-copyright {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1200px) {
  .u-q-footer-container {
    width: 1440px;
  }

  .u-q-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .u-q-footer-text {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .u-q-footer-copyright {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.u-q-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  border-top: 2px solid #6d4e2e;
  background: #ffffff;

  z-index: 1000;
  display: none;
}
.u-q-cookie-popup-text {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.u-q-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.u-q-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.u-q-cookie-button {
  background-color: transparent;
  box-shadow: 0px 1px 3px 0px #87614c;
  border: 1px solid #000000;
  width: 319px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Roboto;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0%;
}

#accept-cookies {
  background: #6d4e2e;
  border: none;
  color: #ffffff;
}

.u-q-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .u-q-cookie-popup-text-two {
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .u-q-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .u-q-cookie-popup-text {
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .u-q-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 40px 108px;
    display: none;
  }
}
